<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @user.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.correo %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @user.campo %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @user.zona %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
