<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :treshold1 %><br>
    <%= f.number_field :treshold1 %>
  </div>
  <div class="field">
    <%= f.label :treshold2 %><br>
    <%= f.number_field :treshold2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
